@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

.own_style {
    background-color: white;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
}

.popup {
    margin: 104px 0 104px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup h1 {
    color: #111;
    font-size: 48px;
    font-weight: 700;
    margin: 40px 0 16px 0;
}

.popup p {
    color: rgba(17, 17, 17, 0.50);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 400;

}

.myBTN {
    width: 180px;
    height: 56px;
    flex-shrink: 0;
    margin: 16px 0 0 0;
    border-radius: 8px;
    background-color: #E527B2;
    color: rgb(255, 255, 255);
}

header {
    background: #F9F6E2;

    height: 100vh;
    text-align: center;
}

.sec-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;


}

.homepage_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 29px;
}

.left_side {
    max-width: 703px;
}

.left_side h3 {
    color: #111;
    font-size: 32px;
    font-weight: 500;
}

.left_side h1 {
    color: #111;
    font-size: 58px;
    font-weight: 700;
    margin: 45px 0 81px 0;
}

.left_side .sale {
    color: #E527B2;

}

.left_side p {
    color: #111;
    font-size: 24px;
    font-weight: 500;
}

.left_side .promo_code {
    width: 156px;
    height: 56px;
    color: rgb(255, 255, 255);
    padding: 14px 26px;
    border-radius: 8px;
    background-color: #E527B2;
}

.right_side {
    width: 708px;
}

/* section -2 */
.sec-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 56px;
    height: auto;
    padding: 120px 0 208px 0;
    background: #F8F8F8;
}

.item_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.item_heading {
    margin: 0 0 32px 0;
    color: #111;
    font-size: 40px;
    font-weight: 600;
}

.cards_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    width: 322px;
    height: 330px;
    border-radius: 8px;
    background-color: white;
    padding: 20px;
    cursor: pointer;
}

.card .top {
    border-radius: 8px;
    height: 200px;
    background: rgba(17, 17, 17, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 22px 0 0 0;
}

.card .bottom .item_name {
    color: #111;
    font-size: 20px;
    font-weight: 600;
    margin: 8px 0;
}

.card .bottom .item_price {
    color: rgba(17, 17, 17, 0.50);
    font-size: 20px;
    font-weight: 400;
}

.card .bottom .icons i {
    color: #ffc107;
}

/* order side */


.cupon_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    position: relative;
    top: 52px;
    width: 342px;
    height: 148px;
    padding: 24px;
    background-color: white;
    border-radius: 8px;
}

.cupon_container h2 {
    color: #111;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
}

.cupon_feild {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 294px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(17, 17, 17, 0.15);
    background: #FFF;
}

.cupon_feild input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 178px;
    height: calc(100% - 32px);
    font-size: 20px;
    padding: 16px 0 16px 16px;
    color: rgba(17, 17, 17, 0.40);
}


.apply {
    border: none;
    border-radius: 0px 8px 8px 0px;
    background-color: #E527B2;
    height: 100%;
    width: 100px;
    color: white;
    cursor: pointer;

}

.pricing {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 342px;
    min-height: 416px;
    background-color: rgb(255, 255, 255);
    margin: 88px 0 0 0;
    border-radius: 8px;
}

.item_list {
    min-height: 144px;
    min-width: 294px;
    margin: 24px 0 10px 0;
}

.item_list ul {
    color: #111;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;

}

.underline {
    width: 294px;
    height: 1px;
    background-color: rgba(17, 17, 17, 0.15);
}

.price_list {
    margin: 12px 0 24px 0;
    width: 294px;
    text-align: left;
    color: #111;
    font-size: 24px;
    font-weight: 500;
    line-height: 48px;

}

.price_list p span {
    color: rgba(17, 17, 17, 0.50);
}

.purchase {
    width: 294px;
    height: 56px;
    border-radius: 8px;
    border: none;
    background: #E527B2;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    margin: auto;
    position: relative;
    bottom: -25px;
    cursor: pointer;

}

.disabled {

    background-color: rgb(187, 187, 187);
    cursor: not-allowed;
}


/* responsive */
@media screen and (max-width:576px) {
    .homepage_container {
        flex-direction: column;
    }

    .left_side h1 {
        font-size: 45px;
    }

    .right_side {
        width: 60%;
    }

    .sec-2 {
        flex-wrap: wrap;
    }

    .item_container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 23rem;

    }
}

@media screen and (min-width:576px) and (max-width:1065px) {
    .left_side h3 {
        font-size: 25px;
    }
    .left_side h1 {
        font-size: 30px;
        margin: 30px 0 40px 0;
        
    }

    .right_side {
        width: 60%;
    }

    .sec-2 {
        flex-wrap: wrap;
    }

    .item_container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 23rem;

    }
}

@media screen and (min-width:1066px) and (max-width:1300px) {
    
    .left_side h1 {
        font-size: 45px;
    }

    .right_side {
        width: 50%;
    }

    .sec-2 {
        flex-wrap: wrap;
    }

    .item_container {
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;

    }
}

@media screen and (min-width:1300px) and (max-width:1411px) {
    
    .left_side h1 {
        font-size: 45px;
    }

    .right_side {
        width: 40%;
    }

    .sec-2 {
        flex-wrap: wrap;
    }

    .item_container {
        align-items: flex-start;
        width: 42rem;

    }

    .cards_container{
        justify-content: flex-start;
    }
}